    @font-face {
        font-family: "DomaineMedium";
        src: url("../fonts/DomaineDisplayMedium.otf");
    }
    
    @font-face {
        font-family: "DomaineRegular";
        src: url("../fonts/DomaineDisplayRegular.otf");
    }
    
    @font-face {
        font-family: "DomaineSemibold";
        src: url("../fonts/DomaineDisplaySemibold.otf");
    }
    
    @font-face {
        font-family: "OakMedium";
        src: url("../fonts/OakesMedium.ttf");
    }
    
    @font-face {
        font-family: "OakLight";
        src: url("../fonts/OakesGroteskLight.ttf");
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .contactEmail {
        color: #000;
    }
    
    div#contact-form-holder {
        max-width: 75%;
    }
    
    section#home-content-1 {
        background-color: #100f12;
    }
    
    .container.welcomeContainer {
        display: grid;
    }
    
    .book-now-header.mobileDisplay {
        display: none;
    }
    
    .container.welcomeContainer span.stars {
        margin-top: -8px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    
    .container.welcomeContainer span.stars:before {
        content: "";
        width: 100px;
        height: 1.5px;
        background-color: #e3b844;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    .container.welcomeContainer span.stars:after {
        content: "";
        width: 100px;
        height: 1.5px;
        background-color: #e3b844;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    br.breakResponsive {
        display: none;
    }
    
    h3.welcomeTitle {
        text-align: center;
        font-family: DomaineMedium;
        color: #e3b844;
        font-weight: 300;
        font-size: 21px;
    }
    
    p.welcomeContent {
        text-align: center;
        color: white;
        font-size: 18px;
        margin-top: 15px;
    }
    
    section#home-content-1 .container.welcomeContainer span.stars img.singleStar {
        height: 18px;
    }
    
    h1.home-title.margin-b24.title-headline {
        text-transform: none;
        font-family: DomaineMedium;
        color: #fff;
        letter-spacing: 0px;
        font-weight: 300;
    }
    
    h1.home-title.margin-b24.title-headline:before {
        height: 1.5px;
        background: #e3b844;
    }
    
    h1.home-title.margin-b24.title-headline::after {
        height: 0px;
    }
    
    p.aboutUsParagraph {
        font-family: DomaineRegular;
    }
    
    section#home-content-2 {
        background-image: url("../images/home/about-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12.5% 0;
    }
    
    p.aboutUsParagraph {
        padding: 30px;
        opacity: 0.9;
        font-family: DomaineRegular;
        font-size: 19px;
        line-height: 33px;
        color: #100f12;
    }
    
    img.ceoSignature {
        height: 75px;
        float: right;
        margin-top: -50px;
        margin-right: 35px;
    }
    
    div.aboutUsSpan {
        background-color: #e3b844;
        /* width: 625px; */
        width: 46vw;
        /* height: 360px; */
        opacity: 0.9;
    }
    
    a#aboutUsLink {
        font-size: 11px;
        font-family: oak;
        padding: 5px 15px;
        margin-top: 0;
        margin-left: 30px;
        border: 2px solid #252525;
        position: relative;
        top: 0px;
    }
    
    a#aboutUsLink:hover {
        margin-top: 0;
        margin-left: 30px;
        border: 2px solid #252525;
        background-color: #000;
        color: #e3b844;
    }
    
    h3.tasteFood {
        font-family: Auberg;
        font-weight: 300;
        font-size: 110pt;
        font-feature-settings: "ssty";
    }
    
    img.img-responsive.img-feature.foodSlogan {
        width: 70%;
    }
    
    img.luxDesignImg {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    /*Footer*/
    
    section.page-content.menuGalleryContent {
        background-color: #fafafa;
    }
    
    footer.pageFooter {
        background-color: #100f12;
        /* padding: 50px 0 0 0; */
        padding: 0px 0 10px 0;
    }
    
    .footer-logo {
        margin-top: -25px;
    }
    
    .row.alignc.row-infos {
        margin-top: 25px;
    }
    
    img.img-responsive.MaelysSymbol {
        height: 150px;
    }
    
    h5.infoTitle.contactFooter {
        padding-bottom: 10px;
    }
    
    h5.infoTitle {
        color: white;
        font-family: OakLight;
    }
    
    p.infoParagraph {
        color: #fff;
        font-family: DomaineRegular;
        margin-top: 10px;
    }
    
    p.infoParagraph.address {
        font-family: OakLight;
        font-weight: 300;
        font-size: 15px;
        text-align: left;
        /* padding-left: 35%; */
        margin-top: 0px;
    }
    
    .footer-social {
        margin-bottom: 15px;
        text-align: left;
        padding-left: 25%;
    }
    
    h5#sqNavigimi,
    #sqKontakti {
        text-align: left;
        padding-left: 35%;
    }
    
    li.FooterMenuItem {
        text-align: left;
        padding-left: 35%;
        margin-top: 2px;
    }
    
    .footer-social li a {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    
    .footer-social li a:hover {
        background-color: #e3b844;
    }
    
    i.fa.fa-facebook,
    i.fa.fa-instagram {
        color: #e3b844;
        font-size: 15px;
        margin-left: 1px;
    }
    
    i.fa.fa-facebook:hover,
    i.fa.fa-instagram:hover {
        color: #100f12;
    }
    
    a#fb {
        margin-right: 5px;
    }
    
    a#insta {
        margin-left: 5px;
    }
    
    img.footerIcons {
        height: 90px;
        margin-bottom: 20px;
    }
    
    .copyright {
        background-color: #e3b844;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
        top: 25px;
    }
    
    span.copyrightText {
        font-size: 15px;
        text-transform: none;
        font-family: OakLight;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    /*Wines*/
    
    section#home-content-6 {
        background-image: url("../images/home/Drinks-Image-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12.5% 0;
        height: 55vw;
    }
    
    .col-md-6.winesDiv {
        margin-top: 25%;
    }
    
    p.WinesParagraph {
        color: #fff;
        font-family: DomaineRegular;
        font-size: 18px;
    }
    
    h1.home-title.margin-b24.title-headline.winesH1 {
        color: #e3b844;
    }
    
    h1.home-title.margin-b24.title-headline.winesH1:before {
        background: #fff;
        bottom: 5px;
        height: 1px;
    }
    
    .WinesSpan {
        max-width: 74%;
    }
    /*wines end*/
    /*Menu*/
    
    h1.home-title.margin-b24.title-headline.menuH1 {
        color: #e3b844;
    }
    
    h1.home-title.margin-b24.title-headline.menuH1::before {
        background: #000;
    }
    
    p.menuParagraph {
        font-family: Oak;
        font-size: 19px;
        color: #000f12;
    }
    
    .MenuCategory {
        margin-top: 4%;
    }
    
    h5.catName {
        font-size: 23px;
    }
    
    .filterDiv {
        float: left;
        background-color: #2196F3;
        color: #ffffff;
        width: 100px;
        line-height: 100px;
        text-align: center;
        margin: 2px;
        display: none;
    }
    
    .show {
        display: block;
    }
    /* Style the buttons */
    
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #ddd;
    }
    
    .btn.active {
        background-color: #666;
        color: white;
    }
    
    img.bookNowImg {
        height: 130px;
    }
    
    h2.makeRes {
        text-transform: none;
        font-family: DomaineRegular;
        color: #e3b844;
    }
    
    h2.makeRes:before {
        height: 2px;
        background: #fff;
    }
    
    h2.makeRes:after {
        display: none;
    }
    
    section.topSingleBkg.topPageBkg {
        margin-bottom: 0;
    }
    
    section.page-content.bookContent {
        background: #100f12;
        padding-top: 50px;
    }
    
    p.alignc.bookMoto {
        color: #fff;
        font-family: Oak;
        letter-spacing: 1px;
    }
    
    .categ-name.bookCat {
        margin-bottom: 10px;
    }
    
    input.reservation-fields::placeholder {
        text-align: center;
        font-family: Oak;
    }
    
    textarea#message2::placeholder {
        text-align: center;
        line-height: 90px;
    }
    
    input.reservation-fields {
        border: 2px solid #e3b844;
    }
    
    textarea#msg-contact {
        border: 2px solid #e3b844;
    }
    
    textarea#message2 {
        border: 2px solid #e3b844;
    }
    
    select.reservation-fields {
        border: 2px solid #e3b844;
    }
    
    #bookSubmit {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 700;
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 24px;
        color: #000;
        border: 2px solid #e3b844;
        background: #e3b844;
        font-family: Oak;
    }
    
    #bookSubmit:hover {
        color: #ffffff;
        border: 2px solid #e3b844;
        background: #e3b844;
        font-family: Oak;
    }
    
    .reservation_txt {
        margin-bottom: 35px;
    }
    
    section#home-content-end {
        background: #fff;
        padding: 0;
    }
    
    h3.welcomeTitle.quotes {
        font-size: 110pt;
        opacity: 1;
        height: 0px;
        margin-top: 45px;
    }
    
    p.welcomeContent.quoteContent {
        color: #000;
        font-size: 20pt;
        font-family: DomaineRegular;
        letter-spacing: 0.4px;
        margin-top: 0;
    }
    
    img.ceoSignature.endPage {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        height: 160px;
    }
    
    .container.welcomeContainer.endContainer {
        padding-bottom: 45px;
    }
    
    @media (max-width: 320px) {
        .intro-text h1 {
            font-size: 40px;
        }
        .col-sm-4.left-col {
            margin-top: 0 !important;
        }
        header .hamburger-menu {
            margin-top: 7%;
        }
        .col-sm-4.mid-col {
            text-align: right !important;
            margin-top: 5px;
            margin-right: 20px;
            width: 50%;
            float: right;
        }
        h1.slider-slogan {
            margin-left: 0;
        }
        span.luxury {
            font-size: 45pt;
        }
        .menu-background-color {
            /* width: 55% !important; */
            width: 100% !important;
            opacity: 1;
            background: #100f12;
        }
        #menu-links-header {
            margin-top: -285%;
            margin-left: 0;
        }
        #menu-links-header.active {
            margin-top: 0;
            margin-left: auto;
        }
        #menu-links {
            text-align: center;
            padding-top: 30%;
        }
        a.menu-item:hover:after {
            width: 0;
        }
        .scrollDown {
            /* margin-top: -12vh !important; */
            top: 90vh;
        }
        .scrollDown {
            top: 90%;
        }
        div.aboutUsSpan {
            width: 100% !important;
        }
        .book-now-header {
            text-align: center;
            margin-right: 0;
            margin-top: 50%;
        }
        p.aboutUsParagraph {
            padding: 10px !important;
            font-size: 12px;
        }
        a#aboutUsLink {
            margin-left: 15px;
            margin-top: 7px;
        }
        img.ceoSignature {
            display: none;
        }
        a.book-now-link {
            padding: 7px 13px;
            font-size: 12px;
        }
        .intro-text {
            top: 50%;
        }
        img.singleStar {
            height: 12px;
            margin-right: 10px;
            margin-top: 6px;
        }
        h3.welcomeTitle {
            font-size: 1.3rem;
            margin-top: -25px;
            margin-bottom: 20px;
        }
        br.breakResponsive {
            display: block;
        }
        p.welcomeContent {
            font-size: 14px;
        }
        section#home-content-1 .container.welcomeContainer span.stars img.singleStar {
            height: 15px;
        }
        .container.welcomeContainer span.stars:before {
            margin-top: 13px;
        }
        .container.welcomeContainer span.stars:after {
            margin-top: 13px;
        }
        h1.home-title.margin-b24.title-headline {
            font-size: 2rem;
        }
        div.aboutUsSpan {
            height: 100%;
        }
        p.aboutUsParagraph {
            font-size: 0.9rem;
            padding-right: 20px !important;
            padding-left: 20px !important;
            line-height: 19px;
        }
        img.img-responsive.img-feature.foodSlogan {
            width: 90%;
        }
        section#home-content-4 {
            padding: 35px 0;
        }
        section.home-widget.parallax {
            background-position: unset !important;
        }
        h1.home-title.margin-b24.title-headline.menuH1 {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 20px;
        }
        h1.home-title.margin-b24.title-headline:before {
            height: 1px;
            background: #e3b844;
        }
        p.menuParagraph {
            font-size: 14px;
        }
        .col-md-4.menuCol.firstMenuCol {
            padding-right: 15px;
        }
        .col-md-4.menuCol.secondMenuCol {
            padding-left: 15px;
            padding-right: 15px;
        }
        .col-md-4.menuCol.thirdMenuCol {
            padding-left: 15px;
        }
        .MenuCategory {
            margin-top: 8%;
        }
        h3.menuTitle {
            margin-top: 5px;
            font-size: 1.6rem;
        }
        a.view-more.margin-t36.goToMenu {
            font-size: 13px;
            padding: 5px 15px;
            margin-top: -4px;
        }
        section#home-content-6 {
            background-position: bottom;
            height: auto;
        }
        h3.welcomeTitle.quotes {
            margin-top: 0;
            font-size: 50pt;
        }
        p.welcomeContent.quoteContent {
            font-size: 16px;
            margin-top: 30px;
        }
        img.ceoSignature.endPage {
            display: block;
            height: 80px;
            margin-top: 0px;
        }
        .container.welcomeContainer.endContainer {
            padding-bottom: 10px;
        }
        section.home-widget.parallax {
            display: none;
        }
    }
    
    @media screen and (min-width: 321px) and (max-width: 375px) {
        .intro-text h1 {
            font-size: 40px;
        }
        .col-sm-4.left-col {
            margin-top: 0 !important;
        }
        header .hamburger-menu {
            margin-top: 7%;
        }
        .col-sm-4.mid-col {
            text-align: right !important;
            margin-top: 5px;
            margin-right: 20px;
            width: 50%;
            float: right;
        }
        h1.slider-slogan {
            margin-left: 0;
        }
        span.luxury {
            font-size: 45pt;
        }
        .menu-background-color {
            width: 55% !important;
        }
        .scrollDown {
            margin-top: -12vh !important;
        }
        div.aboutUsSpan {
            width: 100% !important;
        }
        .book-now-header {
            display: none;
        }
        p.aboutUsParagraph {
            padding: 10px !important;
            font-size: 12px;
        }
        a#aboutUsLink {
            margin-left: 15px;
            margin-top: 7px;
        }
        img.ceoSignature {
            height: 40px;
            margin-top: 0px;
            margin-right: 10px;
        }
    }
    /*Contact Page*/
    
    section.page-content.contactContent {
        background-color: #fff;
    }
    
    .row.contactRow {
        margin-top: 25px;
    }
    
    .headline.ContactUsTitle h2 {
        text-transform: none;
        font-family: DomaineMedium;
        color: #e3b844;
        letter-spacing: 0px;
        font-weight: 300;
    }
    
    section.page-content.contactContent {
        background-color: #fff;
    }
    
    .headline.ContactUsTitle {
        margin-bottom: 0 !important;
        text-align: center;
    }
    
    .headline.ContactUsTitle h2:before {
        height: 1.5px;
        background: #100f12;
    }
    
    .headline.ContactUsTitle h2:after {
        height: 0;
    }
    
    p.getInTouchP {
        text-align: center;
        font-size: 20px;
        font-family: Oak;
        color: #100f12;
        padding-bottom: 35px;
    }
    
    input.reservation-fields.contactFields::placeholder {
        text-align: left;
        color: rgb(147, 149, 152);
    }
    
    textarea#msg-contact::placeholder {
        color: rgb(147, 149, 152);
    }
    
    p.contact-btn {
        text-align: center;
        padding-bottom: 35px;
    }
    
    input.submitContact {
        border: 2px solid #e3b844 !important;
        background: #e3b844 !important;
        color: #100f12 !important;
    }
    
    input.submitContact:hover {
        border: 2px solid #100f12 !important;
        background: #100f12 !important;
        color: #fff !important;
    }
    
    p.contactAddressItem {
        padding-bottom: 3px;
        font-family: Oak;
    }
    /*Responsive*/
    
    @media screen and (max-width:767px) {
        .languages {
            top: 10vh;
        }
        div#infos-2 {
            display: none;
        }
        .intro-text h1 {
            font-size: 45px;
        }
        .col-sm-4.left-col {
            margin-top: 0 !important;
        }
        header .hamburger-menu {
            margin-top: 7%;
        }
        .col-sm-4.mid-col {
            text-align: right !important;
            margin-top: 5px;
            margin-right: 20px;
            width: 50%;
            float: right;
        }
        h1.slider-slogan {
            margin-left: 0;
        }
        span.luxury {
            font-size: 45pt;
        }
        .menu-background-color {
            /* width: 55% !important; */
            width: 100% !important;
            opacity: 1;
            background: #100f12;
        }
        #menu-links-header {
            margin-top: -285%;
            margin-left: 0;
        }
        #menu-links-header.active {
            margin-top: 0;
            margin-left: auto;
        }
        #menu-links {
            text-align: center;
            padding-top: 25%;
        }
        a.menu-item:hover:after {
            width: 0;
        }
        .scrollDown {
            /* margin-top: -12vh !important; */
            top: 90%;
        }
        div.aboutUsSpan {
            width: 100% !important;
        }
        .book-now-header {
            text-align: center;
            margin-right: 0;
            margin-top: 50%;
        }
        p.aboutUsParagraph {
            padding: 15px !important;
            font-size: 12px;
        }
        a#aboutUsLink {
            margin-left: 15px;
            margin-top: 7px;
        }
        img.ceoSignature {
            display: none;
        }
        a.book-now-link {
            padding: 7px 13px;
            font-size: 12px;
        }
        .intro-text {
            top: 50%;
        }
        img.singleStar {
            height: 12px;
            margin-right: 10px;
            margin-top: 6px;
        }
        h3.welcomeTitle {
            font-size: 1.3rem;
            margin-top: -25px;
            margin-bottom: 20px;
        }
        br.breakResponsive {
            display: block;
        }
        p.welcomeContent {
            font-size: 14px;
        }
        section#home-content-1 .container.welcomeContainer span.stars img.singleStar {
            height: 15px;
        }
        .container.welcomeContainer span.stars:before {
            margin-top: 13px;
        }
        .container.welcomeContainer span.stars:after {
            margin-top: 13px;
        }
        h1.home-title.margin-b24.title-headline {
            font-size: 2rem;
        }
        div.aboutUsSpan {
            height: 100%;
        }
        p.aboutUsParagraph {
            font-size: 15px;
            padding-right: 20px !important;
            padding-left: 20px !important;
            line-height: 22px;
            text-align: center;
        }
        img.img-responsive.img-feature.foodSlogan {
            width: 90%;
        }
        section#home-content-4 {
            padding: 35px 0;
        }
        section.home-widget.parallax {
            background-position: unset !important;
        }
        h1.home-title.margin-b24.title-headline.menuH1 {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 20px;
        }
        h1.home-title.margin-b24.title-headline:before {
            height: 1px;
            background: #e3b844;
        }
        p.menuParagraph {
            font-size: 14px;
        }
        .col-md-4.menuCol.firstMenuCol {
            padding-right: 15px;
        }
        .col-md-4.menuCol.secondMenuCol {
            padding-left: 15px;
            padding-right: 15px;
        }
        .col-md-4.menuCol.thirdMenuCol {
            padding-left: 15px;
        }
        .MenuCategory {
            margin-top: 8%;
        }
        h3.menuTitle {
            margin-top: 5px;
            font-size: 1.6rem;
        }
        a.view-more.margin-t36.goToMenu {
            font-size: 13px;
            padding: 5px 15px;
            margin-top: -4px;
        }
        section#home-content-6 {
            background-position: bottom;
            height: auto;
        }
        h3.welcomeTitle.quotes {
            margin-top: 0;
            font-size: 50pt;
        }
        p.welcomeContent.quoteContent {
            font-size: 16px;
            margin-top: 30px;
        }
        img.ceoSignature.endPage {
            display: block;
            height: 80px;
            margin-top: 0px;
        }
        .container.welcomeContainer.endContainer {
            padding-bottom: 10px;
        }
        section.home-widget.parallax {
            display: none;
        }
        /*header*/
        /* .row.header-row.show {

        display: flex !important;

        flex-direction: row-reverse;

    }

    .row.header-row {

        display: flex !important;

        flex-direction: row-reverse;

    } */
        .book-now-header.mobileDisplay {
            display: block;
        }
        img.d1se_header {
            height: 60px;
        }
        .headline.ContactUsTitle h2 {
            font-size: 2rem;
        }
        p.getInTouchP {
            font-size: 1rem;
            padding-left: 5px;
            padding-right: 5px;
        }
        div#contact-form-holder {
            max-width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        p.contactAddressItem {
            text-align: center;
        }
        /*footer*/
        .footer-social {
            padding-left: 0px;
            text-align: center;
        }
        li.FooterMenuItem {
            padding-left: 0px;
            text-align: center;
        }
        p.infoParagraph {
            margin-top: 20px;
        }
        p.infoParagraph.address {
            padding-left: 0px;
            text-align: center;
            margin-top: 0;
        }
        span.copyrightText {
            font-size: 13px;
        }
        .col-md-6.winesDiv {
            margin-top: 0;
        }
        p.WinesParagraph {
            text-align: center;
        }
        .WinesSpan {
            max-width: 100%;
        }
        h2.makeRes {
            line-height: 35px;
        }
        h2.makeRes:before {
            height: 1px;
            bottom: -5px;
            width: 70%;
            left: 45px;
        }
        section.page-content.bookContent {
            padding-top: 30px;
        }
        .reservation_txt {
            margin-top: 37px;
        }
        img.bookNowImg {
            height: 60px;
        }
        img.galleryHeader {
            width: 35% !important;
        }
        img.bookNowImg.contactUsSvg {
            height: 50px;
        }
        iframe#gmap_canvas {
            height: 100% !important;
            width: 100% !important;
        }
        .mapouter {
            padding-bottom: 15px;
        }
    }
    /*767px ends here*/
    
    h1.home-title.margin-b24.title-headline {
        font-size: 2rem;
    }
    
    #myCookieConsent {
        z-index: 999;
        min-height: 20px;
        font-family: OpenSans, arial, "sans-serif";
        padding: 10px 20px;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        position: fixed;
        color: #FFF;
        bottom: 0px;
        right: 10px;
        display: none;
        left: 0;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #myCookieConsent div {
        padding: 5px 0 0;
    }
    
    #myCookieConsent a {
        color: #ffba55;
        display: inline-block;
        padding: 0 10px;
    }
    
    #myCookieConsent a:hover {
        color: #fda016;
    }
    
    #myCookieConsent a#cookieButton {
        display: inline-block;
        color: #000000;
        font-size: 1.1em;
        background: #e3b844;
        text-decoration: none;
        cursor: pointer;
        padding: 2px 20px;
        /* float: right; */
        border-radius: 0;
        margin-left: 2%;
    }
    
    #myCookieConsent a#cookieButton:hover {
        background: #fda016;
        color: #000;
    }
    /*impressum*/
    
    section.topSingleBkg.topPageBkg.impressum {
        height: 100px;
    }
    
    section.page-content.bookContent.impressumContent {
        background-color: #fff;
    }
    
    h1.impressumTitle {
        text-transform: none;
        font-family: DomaineMedium;
        color: #e3b844;
        letter-spacing: 0px;
        font-weight: 300;
        text-align: center;
    }
    
    h3.impressumPoint {
        font-size: 1rem;
        font-weight: 600;
    }
    
    div.ppt,
    .pp_details {
        /* display: none; */
    }
    
    a.pp_play,
    a.pp_arrow_previous,
    a.pp_arrow_next {
        display: none
    }
    
    p.pp_description {
        display: none !important;
    }
    
    div.pp_default .pp_nav {
        display: none !important;
    }
    
    img.galleryHeader {
        width: 15%;
    }
    /*menu hover image*/
    
    .col-md-4.menuCol.firstMenuCol:hover {
        overflow: hidden;
    }
    
    .hoverImage {
        overflow: hidden;
    }
    
    .col-md-4.menuCol.firstMenuCol:hover img {
        transform: scale(1.03);
        transition: all 0.5s linear;
    }
    
    .col-md-4.menuCol.secondMenuCol {
        overflow: hidden;
    }
    
    .col-md-4.menuCol.secondMenuCol:hover img {
        transform: scale(1.03);
        transition: all 0.5s linear;
    }
    
    .col-md-4.menuCol.thirdMenuCol {
        overflow: hidden;
    }
    
    .col-md-4.menuCol.thirdMenuCol:hover img {
        transform: scale(1.03);
        transition: all 0.5s linear;
    }
    
    @media only screen and (min-width: 376px) and (max-width: 425px) {
        #menu-links {
            /* padding-top: 12% !important; */
        }
        .book-now-header {
            margin-top: 25%;
        }
    }
    
    @media only screen and (min-width: 426px) and (max-width: 767px) {
        #menu-links {
            /* padding-top: 0% !important; */
        }
        .book-now-header {
            margin-top: 25%;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .menu-background-color {
            width: 27%;
        }
        .languages {
            top: 40vh;
        }
        .scrollDown {
            top: 90%;
        }
        h1.slider-slogan {
            font-size: 42pt;
        }
        span.luxury {
            font-size: 58pt;
        }
        div.aboutUsSpan {
            width: 100%;
        }
        .col-md-6.winesDiv {
            margin-top: 0;
        }
        .WinesSpan {
            display: flex;
            justify-content: center;
            max-width: 100%;
        }
        p.WinesParagraph {
            max-width: 70%;
            text-align: center;
        }
        .footer-social {
            text-align: center;
            padding-left: 0;
        }
        ul.FooterMenu {
            display: grid;
            justify-content: center;
        }
        li.FooterMenuItem {
            text-align: center;
            padding-left: 0;
        }
        div#contact-form-holder {
            margin-left: auto;
            margin-right: auto;
        }
        #contactPageInfos {
            text-align: center;
        }
        .mapouter {
            margin-bottom: 35px;
            margin-left: 12.5%;
        }
        img.bookNowImg {
            height: 95px;
        }
        #reservationMain {
            max-width: 70%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1024px) {
        .WinesSpan {
            max-width: 100%;
        }
        .col-md-6.winesDiv {
            margin-top: 0;
            padding-left: 50px;
        }
        .centerMobile {
            justify-content: left;
        }
        .scrollDown {
            top: 90%;
        }
    }
    
    @media only screen and (min-width: 1024px) and (max-width:1440px) {
        .WinesSpan {
            max-width: 100%;
        }
        .col-md-6.winesDiv {
            margin-top: 0;
            padding-left: 50px;
        }
        .centerMobile {
            justify-content: left;
        }
    }
    
    @media only screen and (max-width: 991px) {
        .col-md-6.leftDiv {
            border-right: none;
        }
    }
    
    @media only screen and (min-width: 1441px) {
        .centerMobile {
            justify-content: left;
        }
    }
    
    @media only screen and (min-width: 992px) {
        button.btn.menuBtn {
            margin-right: 30px;
        }
    }