@font-face {
    font-family: "Oak";
    src: url("../fonts/OakesGroteskRegular.ttf");
}

@font-face {
    font-family: "Auberg";
    src: url("../fonts/AubergeScriptPro.otf");
}

@font-face {
    font-family: "Trajan";
    src: url("../fonts/TrajanProRegular.otf");
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    height: 65px;
    width: 100%;
    top: 0;
    z-index: 999999;
}

header .hamburger-menu {
    height: 65px;
    display: flex;
    align-items: center;
    padding: 15px;
    float: left;
    margin-left: 20px;
}

header .icon {
    display: flex;
    width: 35px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.col-sm-4.left-col,
.col-sm-4.mid-col,
.col-sm-4.right-col {
    /* border: 1px dashed yellow; */
}

.col-sm-6.menuCol {
    padding-left: 35px;
}

a.menu-item {
    position: relative;
}

a.menu-item:after {
    content: '';
    display: block;
    border-bottom: 2px solid #fff;
    width: 0;
    position: absolute;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

a.menu-item:hover:after {
    width: 100%;
}

a.book-now-link {
    padding: 7px 20px;
    border: 2px solid #e3b844;
    color: white;
    font-size: 14px;
    font-family: Oak;
}

a.book-now-link:hover {
    background-color: #e3b844;
}

.col-sm-4.right-col {
    margin-top: 48px;
    text-align: right;
}

.book-now-header {
    margin-right: 50px;
}

header .hamb {
    width: 35px;
    height: 3px;
    background: white;
    transition: all .4s;
}

header .icon.active {
    /* margin-top: 5px; */
}

header .icon.active .top {
    transform: rotate(35deg);
}

header .icon.active .middle {
    transform: rotate(-35deg);
    margin-top: -20px;
}

header .menu {
    font-size: 12.5px;
    color: black;
    font-weight: 600;
    line-height: 1;
}

header .links {}

header .links {
    position: absolute;
    width: 60%;
    height: 100%;
    background: white;
}

header #links .link {
    padding: 20px 10px 0px 0px;
}

.logo-1 a img.img-responsive {
    width: 200px;
    max-width: 200px;
}

.hamburger-menu {
    height: 65px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.hamburger-menu .icon {
    display: flex;
    width: 35px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.btn .icon {
    width: 1rem;
    height: 1rem;
    fill: #fff;
}

#menu-links-header {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    margin-left: -100%;
    transition: all .8s;
}

#menu-links-header.active {
    margin-left: 0;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#menu-links-header {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    margin-left: -100%;
    transition: all .8s;
}

#menu-links-header.active {
    margin-left: 0;
}

.menu-background-color {
    width: 20%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    background: #000;
}

#menu-container {
    margin-top: 130px;
    margin-left: 0px;
}

#menu-links {
    list-style: none;
    padding: 20px 0;
}

#menu-links .links {
    padding: 10px 0;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Oak;
    letter-spacing: 1.5px;
}

ul#menu-links li.links a.menu-item {
    color: #e3b844;
}

img.d1se_header {
    height: 80px;
}

.col-sm-4.mid-col {
    text-align: center;
    margin-top: 10px;
}

.col-sm-4.left-col {
    margin-top: 20px;
}

.container.topInfosHeader-container {
    height: 100%;
    display: grid;
}

.row.topInfosHeader-row {
    align-self: center;
}

.topInfosHolder a {
    color: #e3b844;
}

.topInfosHolder a:hover {
    color: #e3b844;
}

.topInfosHolder a:visited {
    color: #e3b844;
}

div#mobileLangRow {
    display: flex;
    justify-content: center;
}

div#mobileLangRow div#infos-3 {
    padding-top: 3px;
    padding-left: 12%;
}

.topInfosHeader {
    height: 40px;
    background: #100f12;
}

div#infos-3-lang {
    justify-content: center;
    display: flex;
}

.col-sm-1.col-eng {
    padding-left: 0;
    padding-right: 30px;
}

p#langLine {
    color: #fff;
}

.col-sm-1.col-alb {
    padding-left: 0;
    padding-right: 30px;
}


/*top bar in mobile*/

div#topBarMobile {
    height: auto;
}

.row.languagesNewRow {
    display: flex;
}

div#mobRow .col-sm-1.col-eng {
    padding-right: 0;
}

#mobileLangRow .col-sm-4.headerInfos-col {
    padding-top: 5px;
}


/*top bar in mobile ends here*/

.col-sm-4.headerInfos-col {
    text-align: center;
}

.row.header-row.show {
    padding-bottom: 15px;
    background-color: #100f12;
}

.scrollDown {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* margin-top: -10vh; */
    /* top: 44vw; */
    top: 90%;
}

span.arrowDown {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.col-md-4.menuCol.firstMenuCol {
    padding-right: 30px;
}

.col-md-4.menuCol.secondMenuCol {
    padding-left: 22.5px;
    padding-right: 22.5px;
}

.col-md-4.menuCol.thirdMenuCol {
    padding-left: 30px;
}

a.view-more.margin-t36.goToMenu {
    text-transform: none;
    background-color: #e3b844;
    font-size: 20px;
    font-family: Oak;
    border: 5px solid #e3b844;
}

a.view-more.margin-t36.goToMenu:hover {
    text-transform: none;
    background-color: #000;
    font-size: 20px;
    font-family: Oak;
    border: 5px solid #000;
    color: #fff;
}

section#home-content-4 {
    background: #fff;
}

h3.menuTitle {
    color: #e3b844;
    font-family: DomaineRegular;
    margin-top: 15px;
    font-weight: 300;
    font-size: 30px;
}

section.menu-1col-content {
    background: #fff;
}

.col-md-6.leftDiv {
    border-right: 1px solid #e3b844;
    display: none;
}

.col-md-12.leftDiv {
    display: none;
}

div#rightDiv {
    border: none;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn.active,
.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn.menuBtn {
    background-color: #fff;
    margin-right: 65px;
    font-family: Oak;
    font-size: 2rem;
    border-radius: 0;
    padding-bottom: 0;
}

button.btn.menuBtn:hover {
    cursor: pointer;
}

button.btn.menuBtn:focus {
    outline: 0;
}

.btn:hover {
    background-color: #ddd;
}

button.btn.menuBtn.active {
    color: #100f12;
    border-bottom: 2px solid #e3b844;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

div#myBtnContainer {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 30px;
}

h1.menuLeftTitle {
    text-align: center;
    font-size: 2.5rem;
    font-family: DomaineRegular;
    color: #e3b844;
    font-weight: 600;
    letter-spacing: 1px;
}

.FoodItem {
    /* border: 1px solid red; */
    text-align: center;
}

p.menuFoodTitle {
    margin: 0 !important;
    font-size: 21px;
    font-family: DomaineRegular;
    color: #100f12;
    text-transform: lowercase;
}

p.menuFoodDesc {
    font-family: Oak;
    font-size: 16px;
    color: #787878;
    text-transform: lowercase;
}

.FoodItem.FoodItemSecond {
    margin-top: 30px;
}

.row.menuContent {
    padding-bottom: 50px;
}


/*languages*/

.row.langRow {
    display: flex;
    justify-content: center;
}

.col-md-1.alb {
    padding-right: 0;
}

.col-md-1.eng {
    padding-left: 0;
}

.col-md-1.lineSeperate {
    padding: 0;
    width: 5%;
    margin-top: 2px;
}

a.albLang,
a.engLang {
    color: #fff;
    font-size: 13px
}

p.lineBetween {
    text-align: center;
    color: #fff;
    font-size: 13px;
}

a.albLang.active {
    color: #e3b844;
}

a.engLang.active {
    color: #e3b844;
}

a.albLang:hover,
a.engLang:hover {
    color: #e3b844;
}

.languages {
    position: relative;
    /* top: 27vw; */
    top: 40vh;
}

section.ourMenuSection {
    padding-top: 130px;
    padding-bottom: 55px;
    background: #fff;
}

p.ourMenuParagraph {
    text-align: center;
    font-family: DomaineRegular;
    font-size: 21px;
    color: #100f12;
}

.row.header-row.specialCase {
    background-color: #100f12;
    padding-bottom: 15px;
}

.centerMobile {
    display: flex;
    justify-content: center;
}

@media (max-width:991px) {
    div#myBtnContainer {
        display: flex;
        flex-direction: column;
    }
    button.btn.menuBtn {
        margin-right: 0;
    }
    button.btn.menuBtn.active {
        border-bottom: none;
        color: #e3b844;
    }
    .row.langRow {
        display: flex;
        /* justify-content: left !important; */
    }
}

@media (min-width:768px) {
    .row.langRow {
        display: flex;
        justify-content: left !important;
    }
}

#drinksImage,
#dessertImage,
#coursesImage {
    padding-top: 100px;
    margin-top: -100px;
}